<div class="container">
  <div class="row">
    <h1>Home</h1>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
    <div class="card">
    <div class="carts-body-container row">

  <div class="cart-product-container container row" *ngFor="let item of cartProducts;let i=index">
    <div class="col-md-5">
      <img class="custom-image-style" [src]="item.img">
    </div>
    <div class="cart-product-desc col-md-3">
      <div><p>{{item.title}}</p></div>
      <div><p><strong>${{item.price*item.qt}}</strong></p></div>
    </div>
    <div class="edit-cart-container col-md-2">
      <input (change)="updateTotal()" [(ngModel)]="item.qt" type="number" class="form-control">
    </div>
    <div id="xbutton" class="col-md-2">
      <a class="text-danger" (click)="removeItem(i)"><strong>Remove</strong></a>
    </div>
  </div>
</div>

<div class="container row" *ngIf="!cartProducts.length">
  <div class="col-md-4 offset-md-4">Empty basket</div>
</div>
    </div>
      <div class="card">
<div class="bill-container">
  <div class="col-md-4 offset-md-10">
    <button class="btn btn-success btn-lg pull-left" (click)="payVisible()">Pay</button>

    <span *ngIf="!cartProducts.length"><strong>$0</strong></span>
    <span *ngIf="cartProducts.length">Total: <strong>${{coin}}</strong></span>
  </div></div></div><div class="card">
  <div *ngIf="payment">
    <div class="panel-footer">

      <app-payement></app-payement></div>

</div>
      </div></div></div></div>




