


<div class="container">
  <div class="row">
    <h1>About</h1>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10">

    <div class="about-container row container">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3>AboutUs</h3><br><br>
    <p>Ecommerce website to sell every electronic products such as smart tvs , phones and laptops ...</p>
    <h3>Location</h3><br/>
    <p>ghazela ariana  </p>
    <h3>contactUs</h3><br/>
    <p>07775000 </p>
  </div>
</div>
    </div>
  </div></div>
