<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <br>
    <br>
    <br>

    <div class="nav-side-menu">
      <div class="brand">Ecommerce</div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

      <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
          <li class="nav-item" *ngFor="let item of listItems">
            <a href="{{item.link}}">
              <i class={{item.class}}></i> {{item.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>

</div>

